In [1]:
import numpy as np
import scipy.stats 
import pandas as pd

In [2]:
import matplotlib
import matplotlib.pyplot as pp

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [3]:
import re 
import mailbox
import csv

In [4]:
china1965 = pd.read_csv('income-1965-china.csv')
china2015 = pd.read_csv('income-2015-china.csv')
usa1965 = pd.read_csv('income-1965-usa.csv')
usa2015 = pd.read_csv('income-2015-usa.csv')

In [5]:
china1965.info

<bound method DataFrame.info of        income  log10_income
0    1.026259      0.011257
1    0.912053     -0.039980
2    0.110699     -0.955857
3    0.469659     -0.328217
4    0.374626     -0.426402
..        ...           ...
995  0.755723     -0.121638
996  0.608742     -0.215567
997  0.422609     -0.374061
998  0.680230     -0.167344
999  0.464976     -0.332569

[1000 rows x 2 columns]>

In [6]:
china1965.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   income        1000 non-null   float64
 1   log10_income  1000 non-null   float64
dtypes: float64(2)
memory usage: 15.8 KB

In [7]:
china1965.head()

     income  log10_income
0  1.026259      0.011257
1  0.912053     -0.039980
2  0.110699     -0.955857
3  0.469659     -0.328217
4  0.374626     -0.426402

In [8]:
 china1965.min()

income          0.041968
log10_income   -1.377078
dtype: float64

In [9]:
china1965.max()

income          5.426802
log10_income    0.734544
dtype: float64

In [10]:
china1965.mean()

income          0.660597
log10_income   -0.274157
dtype: float64

In [11]:
china1965.var(ddof=0)

income          0.208846
log10_income    0.088610
dtype: float64

In [13]:
china1965.quantile([0.25, 0.75])

        income  log10_income
0.25  0.344130     -0.463277
0.75  0.863695     -0.063640

In [14]:
usa2015.describe()

            income  log10_income
count  1000.000000   1000.000000
mean     60.710697      1.667228
std      53.664899      0.314107
min       4.883807      0.688758
25%      29.510151      1.469966
50%      46.189312      1.664541
75%      73.009663      1.863380
max     701.518769      2.846039