#### Standard imports

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import scipy.stats

#### Jupyter display cell-width increase

In [4]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))

In [2]:
churn_df = pd.read_csv('churn_raw_data.csv')
churn_df.describe()

        Unnamed: 0    CaseOrder           Zip           Lat  ...         item5         item6         item7         item8
count  10000.00000  10000.00000  10000.000000  10000.000000  ...  10000.000000  10000.000000  10000.000000  10000.000000
mean    5000.50000   5000.50000  49153.319600     38.757567  ...      3.492900      3.497300      3.509500      3.495600
std     2886.89568   2886.89568  27532.196108      5.437389  ...      1.024819      1.033586      1.028502      1.028633
min        1.00000      1.00000    601.000000     17.966120  ...      1.000000      1.000000      1.000000      1.000000
25%     2500.75000   2500.75000  26292.500000     35.341828  ...      3.000000      3.000000      3.000000      3.000000
50%     5000.50000   5000.50000  48869.500000     39.395800  ...      3.000000      3.000000      4.000000      3.000000
75%     7500.25000   7500.25000  71866.500000     42.106908  ...      4.000000      4.000000      4.000000      4.000000
max    10000.00000  10000.00000  99929.000000     70.640660  ...      7.000000      8.000000      7.000000      8.000000

[8 rows x 24 columns]

In [3]:
churn_df.head()

   Unnamed: 0  CaseOrder Customer_id                           Interaction  ... item5 item6 item7  item8
0           1          1     K409198  aa90260b-4141-4a24-8e36-b04ce1f4f77b  ...     4     4     3      4
1           2          2     S120509  fb76459f-c047-4a9d-8af9-e0f7d4ac2524  ...     4     3     4      4
2           3          3     K191035  344d114c-3736-4be5-98f7-c72c281e2d35  ...     4     3     3      3
3           4          4      D90850  abfa2b40-2d43-4994-b15a-989b8c79e311  ...     5     4     3      3
4           5          5     K662701  68a861fd-0d20-4e51-a587-8a90407ee574  ...     4     4     4      5

[5 rows x 52 columns]

## <span style="color:red">Part  I: Research Question</span>

### A. Description of realistic organizational need & consequential question to be addressed

### <span style="color:green"><b>Question description</b>:</span>
<br>Which customers are at high risk of churn?  How can I tell when they will leave and what will push them over the edge?  Are there responses to survey that predict potential customer churn?

### B. Description of variables & specific type of data being described, <i>with examples</i>

### <span style="color:green"><b>Variables & data description</b>:</span>
<br>The data set is 10,000 customer records of a popular telecommunications company.  The dependent variable (target) in question is whether or not each customer has continued or discontinued service within the last month.  This column is titled "Churn".  Independent variables or predictors that may lead to identifying a relationship with the dependent variable of "Churn" within the data set include: 1) services that each customer signed up for (for example, multiple phone lines, technical support add-ons or streaming media), customer account information (customers' tenure with the company, payment methods, bandwidth usage, etc.) and customer demographics (gender, marital status, income, etc.).  Finally, there are eight independent variables that represent responses customer-perceived importance of company services and features.

## <span style="color:red">Part II: Data-Cleaning Plan</span>

### C. Explanation of data cleaning plan
1. Plan proposal to identify anomalies, <i>including relevant techniques & specific steps</i> 
2.  Justify your approach for assessing the quality of the data, include:
&ensp; •  characteristics of the data being assessed,

&ensp; •  the approach used to assess the quality.

3.  Justify your selected programming language and any libraries and packages that will support the data-cleaning process.

4.  Provide the code you will use to identify the anomalies in the data.

### <span style="color:green">Anomaly id plan description</span>

## <span style="color:red">Part III: Data Cleaning</span>

#### D.  Summarize the data-cleaning process by doing the following:

1.  Describe the findings, including all anomalies, from the implementation of the data-cleaning plan from part C.

2.  Justify your methods for mitigating each type of discovered anomaly in the data set.

3.  Summarize the outcome from the implementation of each data-cleaning step.

4.  Provide the code used to mitigate anomalies.

5.  Provide a copy of the cleaned data set.

6.  Summarize the limitations of the data-cleaning process.

7.  Discuss how the limitations in part D6 affect the analysis of the question or decision from part A.

### <span style="color:green">Data-cleaning process description</span>

#### E.  Apply principal component analysis (PCA) to identify the significant features of the data set by doing the following:

1.  List the principal components in the data set.

2.  Describe how you identified the principal components of the data set.

3.  Describe how the organization can benefit from the results of the PCA

### <span style="color:green">PCA description</span>

## <span style="color:red">Part IV: Supporting Documents</span>

#### F.  Provide a Panopto recording that demonstrates the warning- and error-free functionality of the code used to support the discovery of anomalies and the data cleaning process and summarizes the programming environment.

#### G.  Reference the web sources used to acquire segments of third-party code to support the application. Be sure the web sources are reliable.

#### H.  Acknowledge sources, using in-text citations and references, for content that is quoted, paraphrased, or summarized.

#### I.  Demonstrate professional communication in the content and presentation of your submission.