#### Code to expand cell width

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))

#### Write the code to import the dataset Boston_housing_data.csv with the locationid column being an integer. Use print() to see the dataset as output.

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('boston_housing_data.csv', dtype = {'locationid':np.int64})
data = df.head()
print(data)

   locationid     crim    zn  indus  chas    nox     rm   age     dis  rad  \
0         101  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  NaN
1         102  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  NaN
2         103  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0
3         104  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  NaN
4         105  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0

     tax  ptratio  lstat  medv date_appraised locationzone locationdistrict
0  296.0     15.3   4.98  24.0     2016-03-27           N3                N
1  242.0     17.8   9.14  21.6     2016-03-28           B2                B
2  242.0     17.8   4.03  34.7     2016-03-27           G3                G
3  222.0     18.7   2.94  33.4     2016-03-26           D2                D
4  222.0     18.7   5.33  36.2     2016-03-28           M3                M

#### Write code that displays the number of rows and columns in the dataframe stored as df.

In [3]:
data = df.shape
print(data)

(508, 17)

#### Write code to display the column names in the dataframe stored as df.

In [4]:
data = df.columns
print(data)

Index(['locationid', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'lstat', 'medv', 'date_appraised',
       'locationzone', 'locationdistrict'],
      dtype='object')

#### Write code to display the mean, count, min, and max of all the numeric data using a single line of code in the dataframe stored as df.

In [5]:
data = df.describe()
print(data)

       locationid        crim          zn       indus        chas         nox  \
count  508.000000  508.000000  508.000000  508.000000  508.000000  508.000000
mean   353.897638    3.600349   11.658465   11.101063    0.070866    0.553938
std    146.376192    8.587137   23.746192    6.870382    0.256854    0.116321
min    101.000000    0.006320    0.000000    0.460000    0.000000    0.310000
25%    227.750000    0.081960    0.000000    5.130000    0.000000    0.448750
50%    353.500000    0.256510    0.000000    9.690000    0.000000    0.538000
75%    480.250000    3.674808   12.500000   18.100000    0.000000    0.624000
max    607.000000   88.976200  100.000000   27.740000    1.000000    0.871000

               rm         age         dis         rad         tax     ptratio  \
count  508.000000  508.000000  508.000000  300.000000  508.000000  508.000000
mean     6.290132   68.388976    3.813310    9.983333  408.320866   18.449213
std      0.713083   28.269108    2.125937    8.927976  168.287515    2.167225
min      3.561000    2.900000    1.129600    1.000000  187.000000   12.600000
25%      5.886500   44.225000    2.100525    4.000000  279.000000   17.375000
50%      6.208500   77.150000    3.215700    5.000000  330.000000   19.000000
75%      6.626000   94.025000    5.214600   24.000000  666.000000   20.200000
max      9.200000  100.000000   12.126500   24.000000  711.000000   22.000000

            lstat        medv
count  508.000000  508.000000
mean    12.621063   22.727756
std      7.147480   10.146783
min      1.620000    5.000000
25%      6.927500   17.075000
50%     11.330000   21.200000
75%     16.945000   25.000000
max     37.970000  120.000000

#### Write code to display the variable type of each column in the dataframe stored as df.

In [6]:
data = df.dtypes
print(data)

locationid            int64
crim                float64
zn                  float64
indus               float64
chas                float64
nox                 float64
rm                  float64
age                 float64
dis                 float64
rad                 float64
tax                 float64
ptratio             float64
lstat               float64
medv                float64
date_appraised       object
locationzone         object
locationdistrict     object
dtype: object

#### Write code to display unique values in the locationzone column in dataframe stored as df.

In [7]:
data = df['locationzone'].unique()
print(data)

['N3' 'B2' 'G3' 'D2' 'M3' 'W2' 'F1' 'D3' 'U1' 'H3' 'L2' 'E3' 'K1' 'S2'
 'B3' 'S3' 'O3' 'H2' 'S1' 'R1' 'E1' 'B1' 'Q3' 'N1' 'D1' 'G1' 'H1' 'U3'
 'M1' 'Q2' 'C3' 'R2' 'O1' 'N2' 'J1' 'M2' 'F3' 'E2' 'C1' 'J3' 'G2' 'L1'
 'K2' 'W1' 'C2' 'F2' 'Q1' 'K3' 'O2' 'R3' 'J2' 'U2' 'L3' 'FS' 'F5']

#### Write code to display the unique values in the locationzone column and the number of times each value appears in the dataframe stored as df.

In [8]:
data = df['locationzone'].value_counts()
print(data)

H2    25
M2    22
E1    22
M1    17
H1    17
B2    17
B1    17
M3    16
B3    15
E2    15
H3    14
D2    14
K3    13
Q3    12
D1    12
D3    11
R3    11
L1    11
R1    11
R2    10
N3    10
W1    10
U1    10
E3     9
S1     9
N1     9
L2     9
S2     9
J1     8
Q1     8
K1     8
Q2     8
U3     7
G1     7
W2     7
O1     7
J3     7
C2     6
C1     5
C3     5
G3     5
G2     5
F2     5
J2     4
F3     4
N2     4
U2     4
F1     3
O3     3
O2     3
L3     2
K2     2
S3     2
F5     1
FS     1
Name: locationzone, dtype: int64

#### Write the code to import the data set Boston_housing_data_clean.csv with the locationid column being an integer. Use print() to see the data set as output.

In [9]:
df = pd.read_csv('boston_housing_data.csv', dtype = {'locationid':np.int64})
print(df)

     locationid     crim    zn  indus  chas    nox     rm   age      dis  rad  \
0           101  0.00632  18.0   2.31   0.0  0.538  6.575  65.2   4.0900  NaN
1           102  0.02731   0.0   7.07   0.0  0.469  6.421  78.9   4.9671  NaN
2           103  0.02729   0.0   7.07   0.0  0.469  7.185  61.1   4.9671  2.0
3           104  0.03237   0.0   2.18   0.0  0.458  6.998  45.8   6.0622  NaN
4           105  0.06905   0.0   2.18   0.0  0.458  7.147  54.2   6.0622  3.0
..          ...      ...   ...    ...   ...    ...    ...   ...      ...  ...
503         603  0.04527   0.0  11.93   0.0  0.573  6.120  76.7   2.2875  NaN
504         604  0.06076   0.0  11.93   0.0  0.573  6.976  91.0   2.1675  NaN
505         605  0.10959   0.0  11.93   0.0  0.573  6.794  89.3   2.3889  1.0
506         606  0.04741   0.0  11.93   0.0  0.573  6.030  80.8   2.5050  1.0
507         607  0.50000  90.0   2.10   1.0  0.310  9.200   4.3  10.6000  NaN

       tax  ptratio  lstat   medv date_appraised locationzone locationdistrict
0    296.0     15.3   4.98   24.0     2016-03-27           N3                N
1    242.0     17.8   9.14   21.6     2016-03-28           B2                B
2    242.0     17.8   4.03   34.7     2016-03-27           G3                G
3    222.0     18.7   2.94   33.4     2016-03-26           D2                D
4    222.0     18.7   5.33   36.2     2016-03-28           M3                M
..     ...      ...    ...    ...            ...          ...              ...
503  273.0     21.0   9.08   20.6     2016-03-26           R1                R
504  273.0     21.0   5.64   23.9     2016-03-26           M2                M
505  273.0     21.0   6.48   22.0     2016-03-28           S2                S
506  273.0     21.0   7.88   11.9     2016-03-26           W2                W
507  511.0     19.0   1.62  120.0     2016-03-27           F5                F

[508 rows x 17 columns]

#### Write code that displays any duplicate rows in the dataframe stored as df.

In [10]:
data = df.loc[df.duplicated()]
print(data)

     locationid     crim    zn  indus  chas    nox     rm   age   dis  rad  \
202         302  0.03445  82.5   2.03   0.0  0.415  6.162  38.4  6.27  2.0

       tax  ptratio  lstat  medv date_appraised locationzone locationdistrict
202  348.0     14.7   7.43  24.1     2016-03-27           M2                M

#### Write code that ensures there are no missing observations in the dataframe stored as df.

In [11]:
data = df.isnull().sum()
print(data)

locationid            0
crim                  0
zn                    0
indus                 0
chas                  0
nox                   0
rm                    0
age                   0
dis                   0
rad                 208
tax                   0
ptratio               0
lstat                 0
medv                  0
date_appraised        0
locationzone          0
locationdistrict      1
dtype: int64

#### Write code that displays the mean value of the medv column per district on March 27, 2016. To do this, limit the dataset to observations that were appraised on March 27, 2016, and create a datasheet that aggregates all the data by the locationdistrict column and displays the mean of medv rounded off to one decimal place.

In [12]:
df2 = df.loc[df['date_appraised'] == '2016-03-27']
table = df2.groupby('locationdistrict')['medv'].mean().round(1)
print(table)

locationdistrict
B    21.9
C    22.4
D    26.8
E    25.3
F    41.2
G    29.5
H    20.8
J    19.1
K    21.3
L    26.9
M    23.7
N    23.4
O    22.4
Q    23.6
R    19.1
S    17.7
U    24.2
W    22.8
Name: medv, dtype: float64

#### Write code to import the dataset iris.csv and display the first five rows.

In [13]:
df = pd.read_csv('iris.csv')
print(df.head())

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### Write code that uses the .describe() method on the dataframe stored as df. Print the result.

In [14]:
print(df.describe())

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Write code that uses the dtype attribute in Python pandas to view the column names and data types stored in df. Use the print() function to display the output.

In [15]:
print(df.dtypes)

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

#### Write the code to import the data set Boston_housing_data.csv and display the first five rows of the data.

In [16]:
df = pd.read_csv('boston_housing_data.csv')
print(df.head())

   locationid     crim    zn  indus  chas    nox     rm   age     dis  rad  \
0       101.0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  NaN
1       102.0  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  NaN
2       103.0  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0
3       104.0  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  NaN
4       105.0  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0

     tax  ptratio  lstat  medv date_appraised locationzone locationdistrict
0  296.0     15.3   4.98  24.0     2016-03-27           N3                N
1  242.0     17.8   9.14  21.6     2016-03-28           B2                B
2  242.0     17.8   4.03  34.7     2016-03-27           G3                G
3  222.0     18.7   2.94  33.4     2016-03-26           D2                D
4  222.0     18.7   5.33  36.2     2016-03-28           M3                M

#### Write the code to identify the columns with the missing data and display the number of values that are missing from every column in the data set Boston_housing_data.csv.

In [17]:
data = df.isnull().sum()
print(data)

locationid            0
crim                  0
zn                    0
indus                 0
chas                  0
nox                   0
rm                    0
age                   0
dis                   0
rad                 208
tax                   0
ptratio               0
lstat                 0
medv                  0
date_appraised        0
locationzone          0
locationdistrict      1
dtype: int64

#### Write the code to identify the standard deviation of every numeric column in the data set Boston_housing_data.csv.

In [18]:
data = df.std()
print(data)

locationid    146.376192
crim            8.587137
zn             23.746192
indus           6.870382
chas            0.256854
nox             0.116321
rm              0.713083
age            28.269108
dis             2.125937
rad             8.927976
tax           168.287515
ptratio         2.167225
lstat           7.147480
medv           10.146783
dtype: float64

#### Write code that displays all the duplicated rows in the dataframe stored as df.

In [19]:
data = df.loc[df.duplicated()]
print(data)

     locationid     crim    zn  indus  chas    nox     rm   age   dis  rad  \
202       302.0  0.03445  82.5   2.03   0.0  0.415  6.162  38.4  6.27  2.0

       tax  ptratio  lstat  medv date_appraised locationzone locationdistrict
202  348.0     14.7   7.43  24.1     2016-03-27           M2                M

#### Write code to drop all the duplicates in the dataframe stored as df.

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
data = df.loc[df.duplicated()]
print(data)

Empty DataFrame
Columns: [locationid, crim, zn, indus, chas, nox, rm, age, dis, rad, tax, ptratio, lstat, medv, date_appraised, locationzone, locationdistrict]
Index: []

#### Define an outlier as a value whose z-score value is greater than 3 or less than -3 and write code that displays rows with outliers in the medv column of the dataframe stored as df.

In [22]:
medv_zscore = (df['medv'] - df['medv'].mean()) / df['medv'].std()
data = df.loc[(medv_zscore > 3) | (medv_zscore < -3)]
print(data)

     locationid  crim    zn  indus  chas   nox   rm  age   dis  rad    tax  \
507       607.0   0.5  90.0    2.1   1.0  0.31  9.2  4.3  10.6  NaN  511.0

     ptratio  lstat   medv date_appraised locationzone locationdistrict
507     19.0   1.62  120.0     2016-03-27           F5                F

#### Write code to define an outlier as a variable whose z-score value is greater than 3 or less than -3, then eliminate the rows that contain outliers in the medv column of the dataframe stored as df.

In [23]:
medv_zscore = (df['medv'] - df['medv'].mean()) / df['medv'].std()
df = df.loc[(medv_zscore <= 3) & (medv_zscore >= -3)]

#### Write code to drop the rad column from the dataframe stored as df as it contains a significant amount of missing data.

In [24]:
df = pd.read_csv('boston_housing_data.csv')
df.drop(columns='rad', inplace=True)

In [25]:
df.head()

,locationid,crim,zn,indus,chas,nox,rm,age,dis,tax,ptratio,lstat,medv,date_appraised,locationzone,locationdistrict
0,101.0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,296.0,15.3,4.98,24.0,2016-03-27,N3,N
1,102.0,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,242.0,17.8,9.14,21.6,2016-03-28,B2,B
2,103.0,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,242.0,17.8,4.03,34.7,2016-03-27,G3,G
3,104.0,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,222.0,18.7,2.94,33.4,2016-03-26,D2,D
4,105.0,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,222.0,18.7,5.33,36.2,2016-03-28,M3,M

#### According to business rules, all the values in the locationzone column of df should contain only two characters. The first character should be a letter between A-Z and the second character should be a number between 0-9. There are some values in the locationzone column having the incorrect second character. Write code to make the incorrect values in the locationzone column to default to 5 as the second character (example: an incorrect “BT” value would be changed to “B5”).

In [26]:
df['locationzone'] = [i if i[1] in '0123456789' else i[0] + '5' for i in df['locationzone']]
print(df['locationzone'])

0      N3
1      B2
2      G3
3      D2
4      M3
       ..
503    R1
504    M2
505    S2
506    W2
507    F5
Name: locationzone, Length: 508, dtype: object

#### Imputing the missing values:  There are missing values in the locationdistrict column. Redefine all missing values in locationdistrict to be the first character in the locationzone column.

In [27]:
df = pd.read_csv('boston_housing_data.csv')
df.loc[df['locationdistrict'].isnull(), 'locationdistrict'] = df.loc[df['locationdistrict'].isnull(), 'locationzone'].apply(lambda x: x[0])