In [2]:
# Standard imports for z-score

import numpy as np
import pandas as pd
from pandas import DataFrame
import scipy.stats as stats

In [4]:
# Read iris data from csv

iris_df = pd.read_csv('Data/iris.csv')

In [5]:
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
iris_df['sepal_length_z'] = stats.zscore(iris_df.iloc[::,0])

In [12]:
iris_df[['Sepal.Length', 'sepal_length_z']]

     Sepal.Length  sepal_length_z
0             5.1       -0.900681
1             4.9       -1.143017
2             4.7       -1.385353
3             4.6       -1.506521
4             5.0       -1.021849
..            ...             ...
145           6.7        1.038005
146           6.3        0.553333
147           6.5        0.795669
148           6.2        0.432165
149           5.9        0.068662

[150 rows x 2 columns]

In [9]:
iris_df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Z-score_Sepal_Length
count    150.000000   150.000000    150.000000   150.000000          1.500000e+02
mean       5.843333     3.057333      3.758000     1.199333         -2.775558e-16
std        0.828066     0.435866      1.765298     0.762238          1.003350e+00
min        4.300000     2.000000      1.000000     0.100000         -1.870024e+00
25%        5.100000     2.800000      1.600000     0.300000         -9.006812e-01
50%        5.800000     3.000000      4.350000     1.300000         -5.250608e-02
75%        6.400000     3.300000      5.100000     1.800000          6.745011e-01
max        7.900000     4.400000      6.900000     2.500000          2.492019e+00

In [13]:
sepal_length_outliers = iris_df.query('sepal_length_z < -3 | sepal_length_z > 3')

In [16]:
print(sepal_length_outliers)

Empty DataFrame
Columns: [Sepal.Length, Sepal.Width, Petal.Length, Petal.Width, Species, Z-score_Sepal_Length, sepal_length_z]
Index: []