# Performance Assessment | D206 Data Cleaning
&emsp;Ryan L. Buchanan
<br>&emsp;Student ID:  001826691
<br>&emsp;Masters Data Analytics (12/01/2020)
<br>&emsp;Program Mentor:  Dan Estes
<br>&emsp;(385) 432-9281 (MST)
<br>&emsp;rbuch49@wgu.edu

## <span style="color:red">Part  I: Research Question</span>

### <span style="color:green"><b>A. Question or Decision</b>:</span>
Can we determine which individual customers are at high risk of churn?  And, can we determine which features are most significant to churn?

### <span style="color:green"><b>**A1. Alternative Question</b>:</span>
Also, Are there certain responses to survey that correlate with customer churn?

### <span style="color:green"><b>B. Required Variables</b>:</span>
The data set is 10,000 customer records of a popular telecommunications company. The dependent variable (target) in question is whether or not each customer has continued or discontinued service within the last month.  This column is titled "Churn."  
Independent variables or predictors that may lead to identifying a relationship with the dependent variable of "Churn" within the data set include: 
1. Services that each customer signed up for (for example, multiple phone lines, technical support add-ons or streaming media) 
2. Customer account information (customers' tenure with the company, payment methods, bandwidth usage, etc.)
3. Customer demographics (gender, marital status, income, etc.).  
4. Finally, there are eight independent variables that represent responses customer-perceived importance of company services and features.  

The data is both numerical (as in the yearly GB bandwidth usage; customer annual income) and categorical (a "Yes" or "No" for Churn; customer job).

## <span style="color:red">Part II: Data-Cleaning Plan</span>

### C. Explanation of data cleaning plan
1. Plan proposal to identify anomalies, <i>including relevant techniques & specific steps</i> 
2.  Justify your approach for assessing the quality of the data, include:
<br>&ensp; •  characteristics of the data being assessed,
<br>&ensp; •  the approach used to assess the quality.

3.  Justify your selected programming language and any libraries and packages that will support the data-cleaning process.

4.  Provide the code you will use to identify the anomalies in the data.

### <span style="color:green"><b>C1. Plan to Find Anomalies</b>:</span>
My approach will include:
<br>&ensp; 1. Backing up my data and the process I am following as a copy to my machine and, since this is a manageable data set, to GitHub using command line and gitbash;
<br>&ensp; 2. Reading the data set into Python using Pandas read_csv command;
<br>&ensp; 3. Naming the data set as a the variable "churn_df" and subsequent useful slices of the dataframe as "data"; 
<br>&ensp; 4. Examine coding errors, including data missing, in the collection of the data set;
<br>&ensp; 5. Find outliers that may create or hide statistical significance using histograms;
<br>&ensp; 6. Imputing records missing data with meaningful measures of central tendency (mean, median or mode) or simply remove outliers that are several standard deviations above the mean

### <span style="color:green"><b>C2. Justification of Approach</b>:</span>
Though the data seems to be inexplicably missing quite a bit of data (such as the many NAs in customer tenure with the company) from apparently random columns, this approach seems like a good first approach in order to put the data in better working order without needing to involve methods of initial data collection or querying the data-gatherers on reasons for missing information.

### <span style="color:green"><b>C3. Justification of Tools</b>:</span>
I will use the Python programming language as I have a bit of a background in Python having studied machine learning independently over the last year before beginning this masters program and its ability to perform many things right "out of the box."  Python provides clean, intuitive and readable syntax that has become ubiquitous across in the data science industry.  Also, I find the Jupyter notebooks a convenient way to run code visually, in its attractive single document markdown format, the ability to display results of code and graphic visualizations and provide crystal-clear running documentation for future reference.   A thorough installation and importation of Python packages and libraries will provide specially designed code to perfom complex data science tasks rather than personally building them from scratch.  This will include: 
<br>&ensp; • NumPy - to work with arrays
<br>&ensp; • Pandas - to load data sets
<br>&ensp; • Matplotlib - to plot charts
<br>&ensp; • Scikit-learn - for machine learning model classes
<br>&ensp; • SciPy - for mathematical problems, specifically linear algebra transformations
<br>&ensp; • Seaborn - for high-level interface and atttractive visualizations

A quick, precise example of loading a data set and creating a variable efficiently is using to call the Pandas library and its subsequent "read_csv" function in order to manipulate our data as a dataframe:
<span style="color:coral">
<br>&ensp; import pandas as pd
<br>&ensp; df = pd.read_csv('Data.csv')
</span>

### <span style="color:green"><b>C4. Provide the Code</b>:</span>
Code follows in subsequent cells:

In [11]:
# Standard imports
import numpy as np
import pandas as pd
from pandas import DataFrame

import matplotlib.pyplot as plt
%matplotlib inline

import scipy.stats
from sklearn.impute import SimpleImputer

In [12]:
# Increase Jupyter display cell-width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))

In [13]:
# Load data set into Pandas dataframe
churn_df = pd.read_csv('churn_raw_data.csv')

In [14]:
# Display Churn dataframe
churn_df

,Unnamed: 0,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
0,1.0,1.0,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927.0,56.25100,-133.37571,...,171.449762,904.536110,5.0,5.0,5.0,3.0,4.0,4.0,3.0,4.0
1,2.0,2.0,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661.0,44.32893,-84.24080,...,242.948015,800.982766,3.0,4.0,3.0,3.0,4.0,3.0,4.0,4.0
2,3.0,3.0,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148.0,45.35589,-123.24657,...,159.440398,2054.706961,4.0,4.0,2.0,4.0,4.0,3.0,3.0,3.0
3,4.0,4.0,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014.0,32.96687,-117.24798,...,120.249493,2164.579412,4.0,4.0,4.0,2.0,5.0,4.0,3.0,3.0
4,5.0,5.0,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461.0,29.38012,-95.80673,...,150.761216,271.493436,4.0,4.0,4.0,3.0,4.0,4.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999,10000.0,10000.0,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,Clarkesville,GA,Habersham,30523.0,34.70783,-83.53648,...,218.371000,5857.586000,2.0,2.0,3.0,3.0,3.0,3.0,4.0,1.0
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Now just the head of the dataframe
churn_df.head()

,Unnamed: 0,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
0,1.0,1.0,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927.0,56.25100,-133.37571,...,171.449762,904.536110,5.0,5.0,5.0,3.0,4.0,4.0,3.0,4.0
1,2.0,2.0,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661.0,44.32893,-84.24080,...,242.948015,800.982766,3.0,4.0,3.0,3.0,4.0,3.0,4.0,4.0
2,3.0,3.0,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148.0,45.35589,-123.24657,...,159.440398,2054.706961,4.0,4.0,2.0,4.0,4.0,3.0,3.0,3.0
3,4.0,4.0,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014.0,32.96687,-117.24798,...,120.249493,2164.579412,4.0,4.0,4.0,2.0,5.0,4.0,3.0,3.0
4,5.0,5.0,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461.0,29.38012,-95.80673,...,150.761216,271.493436,4.0,4.0,4.0,3.0,4.0,4.0,4.0,5.0

In [16]:
# Describe Churn statistics
churn_df.describe()

,Unnamed: 0,CaseOrder,Zip,Lat,Lng,Population,Children,Age,Outage_sec_perweek,Contacts,...,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
count,10000.00000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,7505.000000,7525.000000,10000.000000,10000.000000,...,10000.000000,8979.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,5000.50000,49153.319600,38.757567,-90.782536,9756.562400,2.095936,53.275748,11.452955,0.994200,...,174.076305,3398.842752,3.490800,3.505100,3.487000,3.497500,3.492900,3.497300,3.509500,3.495600
std,2886.89568,2886.89568,27532.196108,5.437389,15.156142,14432.698671,2.154758,20.753928,7.025921,0.988466,...,43.335473,2187.396807,1.037797,1.034641,1.027977,1.025816,1.024819,1.033586,1.028502,1.028633
min,1.00000,1.00000,601.000000,17.966120,-171.688150,0.000000,0.000000,18.000000,-1.348571,0.000000,...,77.505230,155.506715,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2500.75000,2500.75000,26292.500000,35.341828,-97.082813,738.000000,0.000000,35.000000,8.054362,0.000000,...,141.071078,1234.110529,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,5000.50000,5000.50000,48869.500000,39.395800,-87.918800,2910.500000,1.000000,53.000000,10.202896,1.000000,...,169.915400,3382.424000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000
75%,7500.25000,7500.25000,71866.500000,42.106908,-80.088745,13168.000000,3.000000,71.000000,12.487644,2.000000,...,203.777441,5587.096500,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,10000.00000,10000.00000,99929.000000,70.640660,-65.667850,111850.000000,10.000000,89.000000,47.049280,7.000000,...,315.878600,7158.982000,7.000000,7.000000,8.000000,7.000000,7.000000,8.000000,7.000000,8.000000

In [17]:
# List of Dataframe Columns
churn_df.columns

Index(['Unnamed: 0', 'CaseOrder', 'Customer_id', 'Interaction', 'City',
       'State', 'County', 'Zip', 'Lat', 'Lng', 'Population', 'Area',
       'Timezone', 'Job', 'Children', 'Age', 'Education', 'Employment',
       'Income', 'Marital', 'Gender', 'Churn', 'Outage_sec_perweek', 'Email',
       'Contacts', 'Yearly_equip_failure', 'Techie', 'Contract', 'Port_modem',
       'Tablet', 'InternetService', 'Phone', 'Multiple', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Tenure',
       'MonthlyCharge', 'Bandwidth_GB_Year', 'item1', 'item2', 'item3',
       'item4', 'item5', 'item6', 'item7', 'item8'],
      dtype='object')

In [18]:
churn_df.index

RangeIndex(start=0, stop=10004, step=1)

In [19]:
churn_df.loc[0]

Unnamed: 0                                                 1
CaseOrder                                                  1
Customer_id                                          K409198
Interaction             aa90260b-4141-4a24-8e36-b04ce1f4f77b
City                                             Point Baker
State                                                     AK
County                                 Prince of Wales-Hyder
Zip                                                    99927
Lat                                                   56.251
Lng                                                 -133.376
Population                                                38
Area                                                   Urban
Timezone                                       America/Sitka
Job                        Environmental health practitioner
Children                                                 NaN
Age                                                       68
Education                                    Master's Degree
Employment                                         Part Time
Income                                              28561.99
Marital                                              Widowed
Gender                                                  Male
Churn                                                     No
Outage_sec_perweek                                   6.97257
Email                                                     10
Contacts                                                   0
Yearly_equip_failure                                       1
Techie                                                    No
Contract                                            One year
Port_modem                                               Yes
Tablet                                                   Yes
InternetService                                  Fiber Optic
Phone                                                    Yes
Multiple                                                  No
OnlineSecurity                                           Yes
OnlineBackup                                             Yes
DeviceProtection                                          No
TechSupport                                               No
StreamingTV                                               No
StreamingMovies                                          Yes
PaperlessBilling                                         Yes
PaymentMethod                        Credit Card (automatic)
Tenure                                               6.79551
MonthlyCharge                                         171.45
Bandwidth_GB_Year                                    904.536
item1                                                      5
item2                                                      5
item3                                                      5
item4                                                      3
item5                                                      4
item6                                                      4
item7                                                      3
item8                                                      4
Name: 0, dtype: object

In [20]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10004 entries, 0 to 10003
Data columns (total 52 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10000 non-null  float64
 1   CaseOrder             10000 non-null  float64
 2   Customer_id           10000 non-null  object
 3   Interaction           10000 non-null  object
 4   City                  10000 non-null  object
 5   State                 10000 non-null  object
 6   County                10000 non-null  object
 7   Zip                   10000 non-null  float64
 8   Lat                   10000 non-null  float64
 9   Lng                   10000 non-null  float64
 10  Population            10000 non-null  float64
 11  Area                  10000 non-null  object
 12  Timezone              10000 non-null  object
 13  Job                   10000 non-null  object
 14  Children              7505 non-null   float64
 15  Age                   7525 non-null   float64
 16  Education             10000 non-null  object
 17  Employment            10000 non-null  object
 18  Income                7512 non-null   object
 19  Marital               10002 non-null  object
 20  Gender                10000 non-null  object
 21  Churn                 10000 non-null  object
 22  Outage_sec_perweek    10000 non-null  float64
 23  Email                 10002 non-null  object
 24  Contacts              10000 non-null  float64
 25  Yearly_equip_failure  10000 non-null  float64
 26  Techie                7523 non-null   object
 27  Contract              10000 non-null  object
 28  Port_modem            10000 non-null  object
 29  Tablet                10000 non-null  object
 30  InternetService       10000 non-null  object
 31  Phone                 8974 non-null   object
 32  Multiple              10000 non-null  object
 33  OnlineSecurity        10000 non-null  object
 34  OnlineBackup          10000 non-null  object
 35  DeviceProtection      10000 non-null  object
 36  TechSupport           9009 non-null   object
 37  StreamingTV           10000 non-null  object
 38  StreamingMovies       10000 non-null  object
 39  PaperlessBilling      10000 non-null  object
 40  PaymentMethod         10000 non-null  object
 41  Tenure                9069 non-null   float64
 42  MonthlyCharge         10000 non-null  float64
 43  Bandwidth_GB_Year     8979 non-null   float64
 44  item1                 10000 non-null  float64
 45  item2                 10000 non-null  float64
 46  item3                 10000 non-null  float64
 47  item4                 10000 non-null  float64
 48  item5                 10000 non-null  float64
 49  item6                 10000 non-null  float64
 50  item7                 10000 non-null  float64
 51  item8                 10000 non-null  float64
dtypes: float64(22), object(30)
memory usage: 4.0+ MB

In [21]:
len(churn_df)

10004

In [22]:
# Find number of records and columns of data set
churn_df.shape

(10004, 52)

In [23]:
# Add an index field
churn_df['index'] = pd.Series(range(0,10000))

In [24]:
churn_df.head()

,Unnamed: 0,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,...,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8,index
0,1.0,1.0,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927.0,56.25100,-133.37571,...,904.536110,5.0,5.0,5.0,3.0,4.0,4.0,3.0,4.0,0.0
1,2.0,2.0,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661.0,44.32893,-84.24080,...,800.982766,3.0,4.0,3.0,3.0,4.0,3.0,4.0,4.0,1.0
2,3.0,3.0,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148.0,45.35589,-123.24657,...,2054.706961,4.0,4.0,2.0,4.0,4.0,3.0,3.0,3.0,2.0
3,4.0,4.0,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014.0,32.96687,-117.24798,...,2164.579412,4.0,4.0,4.0,2.0,5.0,4.0,3.0,3.0,3.0
4,5.0,5.0,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461.0,29.38012,-95.80673,...,271.493436,4.0,4.0,4.0,3.0,4.0,4.0,4.0,5.0,4.0

In [25]:
# Calculate Churn Rate
churn_df.Churn.value_counts() / len(churn_df)

No     0.734706
Yes    0.264894
Name: Churn, dtype: float64

## <span style="color:red">Part III: Data Cleaning</span>

### D.  Summarize the data-cleaning process by doing the following:

1.  Describe the findings, including all anomalies, from the implementation of the data-cleaning plan from part C.

2.  Justify your methods for mitigating each type of discovered anomaly in the data set.

3.  Summarize the outcome from the implementation of each data-cleaning step.

4.  Provide the code used to mitigate anomalies.

5.  Provide a copy of the cleaned data set.

6.  Summarize the limitations of the data-cleaning process.

7.  Discuss how the limitations in part D6 affect the analysis of the question or decision from part A.

### <span style="color:green">D. Data Cleaning Summary</span>

D1.<b>Cleaning Findings</b>:

D2.<b>Justification of Mitigation Methods</b>:

D3.<b>Summary of Outcomes</b>:

D4.<b>Mitigation Code</b>:

D5.<b>Clean Data</b>: (see attached file 'churn_data_cleaned.csv')

D6.<b>Limitations</b>: Limitations given the telecom company data set are that the data are not coming from an warehouse.  It this scenario, it is as though I initiated and gathered the data.  So, I am not able to reach out to the folks that organized and gathered this information and ask them why certain NAs are there, why are fields such as age or yearly bandwidth used missing information that might be relevant to answering questions about customer retention or churn.  In a real world project, you would be able to go down to the department where these folks worked and fill in the empty fields or discover why fields are left blank.  
D7.

### E.  Apply principal component analysis (PCA) to identify the significant features of the data set by doing the following:

1.  List the principal components in the data set.

2.  Describe how you identified the principal components of the data set.

3.  Describe how the organization can benefit from the results of the PCA

### <span style="color:green">E. PCA Application</span>

E1. <b>Principal Components</b>:

E2. <b>Criteria Used</b>:

E3. <b>Benefits</b>:

## <span style="color:red">Part IV: Supporting Documents</span>

### F.  Provide a Panopto recording that demonstrates the warning- and error-free functionality of the code used to support the discovery of anomalies and the data cleaning process and summarizes the programming environment.

### <span style="color:green">F. Video</span>

### G.  Reference the web sources used to acquire segments of third-party code to support the application. <span style="color:red">Be sure the web sources are reliable.</span>

### <span style="color:green">G. Sources for Third-Party Code</span>
Larose, C. D. & Larose, D. T. (2019). <i>Data Science: Using Python and R.</i>  John Wiley & Sons, Inc.

Sree. (2020, October 26). <i>Predict Customer Churn in Python.</i>  Towards Data Science.  <br>&emsp;https://towardsdatascience.com/predict-customer-churn-in-python-e8cd6d3aaa7

VanderPlas, J. (2017). <i>Python Data Science Handbook: Essential Tools for WOrking with Data.</i>  <br>&emsp;O'Reilly Media, Inc.

### H.  Acknowledge sources, <span style="color:red">using in-text citations<span>

### <span style="color:green">H. Sources</span>
Ahmad, A. K., Jafar, A & Aljoumaa, K. (2019, March 20). <i>Customer churn prediction in telecom using machine <br>&emsp;learning in big data platform</i>. Journal of Big Data.  <br>&emsp;https://journalofbigdata.springeropen.com/articles/10.1186/s40537-019-0191-6

Altexsoft. (2019, March 27). <i>Customer Churn Prediction Using Machine Learning: Main Approaches and Models</i>.  <br>&emsp;Altexsoft.  <br>&emsp;https://www.altexsoft.com/blog/business/customer-churn-prediction-for-subscription-businesses-using-machine-learning-main-approaches-and-models/

Frohbose, F. (2020, November 24). <i>Machine Learning Case Study: Telco Customer Churn Prediction</i>.  <br>&emsp;Towards Data Science.  <br>&emsp;https://towardsdatascience.com/machine-learning-case-study-telco-customer-churn-prediction-bc4be03c9e1d

Mountain, A. (2014, August 11). <i>Data Cleaning</i>.  Better Evaluation.  <br>&emsp;https://www.betterevaluation.org/en/evaluation-options/data_cleaning