# Performance Assessment | D206 Data Cleaning
&emsp;Ryan L. Buchanan
<br>&emsp;Student ID:  001826691
<br>&emsp;Masters Data Analytics (12/01/2020)
<br>&emsp;Program Mentor:  Dan Estes
<br>&emsp;(385) 432-9281 (MST)
<br>&emsp;rbuch49@wgu.edu

## <span style="color:red">Part  I: Research Question</span>

### <span style="color:green"><b>A. Question or Decision</b>:</span>
Can we determine which individual customers are at high risk of churn?  And, can we determine which features are most significant to churn?

### <span style="color:green"><b>**A1. Alternative Question</b>:</span>
Also, Are there certain responses to survey that correlate with customer churn?

### <span style="color:green"><b>B. Required Variables</b>:</span>
The data set is 10,000 customer records of a popular telecommunications company. The dependent variable (target) in question is whether or not each customer has continued or discontinued service within the last month.  This column is titled "Churn."  
Independent variables or predictors that may lead to identifying a relationship with the dependent variable of "Churn" within the dataset include: 
1. Services that each customer signed up for (for example, multiple phone lines, technical support add-ons or streaming media) 
2. Customer account information (customers' tenure with the company, payment methods, bandwidth usage, etc.)
3. Customer demographics (gender, marital status, income, etc.).  
4. Finally, there are eight independent variables that represent responses customer-perceived importance of company services and features.  

The data is both numerical (as in the yearly GB bandwidth usage; customer annual income) and categorical (a "Yes" or "No" for Churn; customer job).

## <span style="color:red">Part II: Data-Cleaning Plan</span>

### <span style="color:green"><b>C1. Plan to Find Anomalies</b>:</span>
My approach will include:
<br>&ensp; 1. Back up my data and the process I am following as a copy to my machine and, since this is a manageable dataset, to GitHub using command line and gitbash.
<br>&ensp; 2. Read the data set into Python using Pandas read_csv command.
<br>&ensp; 3. Evaluate the data struture to better understand input data.
<br>&ensp; 4. Naming the dataset as a the variable "churn_df" and subsequent useful slices of the dataframe as "data".
<br>&ensp; 5. Examine misspellings & missing data.
<br>&ensp; 6. Find outliers that may create or hide statistical significance using histograms.
<br>&ensp; 7. Imputing records missing data with meaningful measures of central tendency (mean, median or mode) or simply remove outliers that are several standard deviations above the mean.

<br>&ensp; ?. <span style="color:red">Drop records with missing information???<span>

### <span style="color:green"><b>C2. Justification of Approach</b>:</span>
Though the data seems to be inexplicably missing quite a bit of data (such as the many NAs in customer tenure with the company) from apparently random columns, this approach seems like a good first approach in order to put the data in better working order without needing to involve methods of initial data collection or querying the data-gatherers on reasons for missing information. Also, this the first dataset that I've clean, so I followed the procedures practice in the performance lab as well as tips from StackOverflow and other tutorial resources.

### <span style="color:green"><b>C3. Justification of Tools</b>:</span>
I will use the Python programming language as I have a bit of a background in Python having studied machine learning independently over the last year before beginning this masters program and its ability to perform many things right "out of the box."  Python provides clean, intuitive and readable syntax that has become ubiquitous across in the data science industry.  Also, I find the Jupyter notebooks a convenient way to run code visually, in its attractive single document markdown format, the ability to display results of code and graphic visualizations and provide crystal-clear running documentation for future reference.   A thorough installation and importation of Python packages and libraries will provide specially designed code to perfom complex data science tasks rather than personally building them from scratch.  This will include: 
<br>&ensp; • NumPy - to work with arrays
<br>&ensp; • Pandas - to load datasets
<br>&ensp; • Matplotlib - to plot charts
<br>&ensp; • Scikit-learn - for machine learning model classes
<br>&ensp; • SciPy - for mathematical problems, specifically linear algebra transformations
<br>&ensp; • Seaborn - for high-level interface and atttractive visualizations

A quick, precise example of loading a dataset and creating a variable efficiently is using to call the Pandas library and its subsequent "read_csv" function in order to manipulate our data as a dataframe:
<span style="color:coral">
<br>&ensp; import pandas as pd
<br>&ensp; df = pd.read_csv('Data.csv')
</span>

### <span style="color:green"><b>C4. Provide the Code</b>:</span>
Code follows in subsequent cells:

In [1]:
# Standard imports
import numpy as np
import pandas as pd
from pandas import DataFrame
from scipy.stats import norm, skew
from scipy import stats
import statsmodels.api as sm

In [2]:
# Scikit-learn modules for data cleaning
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

In [3]:
# Standard libraries for data visualization
import seaborn as sn
color = sn.color_palette()
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import matplotlib.ticker as mtick
from IPython.display import display
pd.options.display.max_columns = None
from pandas.plotting import scatter_matrix
from sklearn.metrics import roc_curve

In [4]:
# Utility libraries imports
import random
import os
import re
import sys
import timeit
import string
import time
from datetime import datetime
from time import time
from dateutil.parser import parse
import joblib

In [5]:
# Increase Jupyter display cell-width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))

In [6]:
# Load data set into Pandas dataframe
churn_df = pd.read_csv('churn_raw_data.csv')

In [7]:
# Display Churn dataframe
churn_df

,Unnamed: 0,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,Area,Timezone,Job,Children,Age,Education,Employment,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
0,1,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,Urban,America/Sitka,Environmental health practitioner,NaN,68.0,Master's Degree,Part Time,28561.99,Widowed,Male,No,6.972566,10,0,1,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,Urban,America/Detroit,"Programmer, multimedia",1.0,27.0,Regular High School Diploma,Retired,21704.77,Married,Female,Yes,12.014541,12,0,1,Yes,Month-to-month,No,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,Urban,America/Los_Angeles,Chief Financial Officer,4.0,50.0,Regular High School Diploma,Student,NaN,Widowed,Female,No,10.245616,9,0,1,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,Suburban,America/Los_Angeles,Solicitor,1.0,48.0,Doctorate Degree,Retired,18925.23,Married,Male,No,15.206193,15,2,0,Yes,Two Year,No,No,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,Suburban,America/Chicago,Medical illustrator,0.0,83.0,Master's Degree,Student,40074.19,Separated,Male,Yes,8.960316,16,2,1,No,Month-to-month,Yes,No,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,150.761216,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,640,Rural,America/New_York,Sport and exercise psychologist,3.0,NaN,"Some College, Less than 1 Year",Retired,55723.74,Married,Male,No,9.265392,12,2,0,NaN,Month-to-month,Yes,Yes,DSL,NaN,Yes,No,Yes,Yes,No,No,No,No,Electronic Check,68.197130,159.828800,6511.253000,3,2,3,3,4,3,2,3
9996,9997,9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,77168,Rural,America/Chicago,Consulting civil engineer,4.0,48.0,Regular High School Diploma,Part Time,NaN,Divorced,Male,No,8.115849,15,2,0,NaN,Two Year,No,No,Fiber Optic,NaN,Yes,Yes,Yes,Yes,No,Yes,No,No,Electronic Check,61.040370,208.856400,5695.952000,4,5,5,4,4,5,2,5
9997,9998,9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,406,Rural,America/Chicago,IT technical support officer,NaN,NaN,Nursery School to 8th Grade,Full Time,NaN,Never Married,Female,No,4.837696,10,0,0,No,Month-to-month,No,No,Fiber Optic,Yes,Yes,Yes,Yes,No,No,No,No,Yes,Bank Transfer(automatic),NaN,168.220900,4159.306000,4,4,4,4,4,4,4,5
9998,9999,9999,I641617,3775ccfc-0052-4107-81ae-9657f81ecdf3,Carrollton,GA,Carroll,30117,33.58016,-85.13241,35575,Urban,America/New_York,Water engineer,1.0,39.0,Bachelor's Degree,Full Time,16667.58,Separated,Male,No,12.076460,14,1,0,No,Two Year,No,Yes,Fiber Optic,No,Yes,No,No,No,Yes,Yes,Yes,Yes,Credit Card (automatic),71.095600,252.628600,6468.457000,4,4,6,4,3,3,5,4
9999,10000,10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,12230,Urban,America/New_York,Personal assistant,1.0,28.0,GED or Alternative Credential,Full Time,NaN,Never Married,Male,No,12.641760,17,1,0,NaN,Month-to-month,Yes,No,Fiber Optic,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Electronic Check,63.350860,218.371000,5857.586000,2,2,3,3,3,3,4,1

In [8]:
# List of Dataframe Columns
df = churn_df.columns
print(df)

Index(['Unnamed: 0', 'CaseOrder', 'Customer_id', 'Interaction', 'City',
       'State', 'County', 'Zip', 'Lat', 'Lng', 'Population', 'Area',
       'Timezone', 'Job', 'Children', 'Age', 'Education', 'Employment',
       'Income', 'Marital', 'Gender', 'Churn', 'Outage_sec_perweek', 'Email',
       'Contacts', 'Yearly_equip_failure', 'Techie', 'Contract', 'Port_modem',
       'Tablet', 'InternetService', 'Phone', 'Multiple', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Tenure',
       'MonthlyCharge', 'Bandwidth_GB_Year', 'item1', 'item2', 'item3',
       'item4', 'item5', 'item6', 'item7', 'item8'],
      dtype='object')

In [9]:
# Remove redundant "Unnamed" column at beginning & display first five records
df = churn_df.drop(churn_df.columns[0], axis = 1)
df.head()

,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,Area,Timezone,Job,Children,Age,Education,Employment,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,Urban,America/Sitka,Environmental health practitioner,NaN,68.0,Master's Degree,Part Time,28561.99,Widowed,Male,No,6.972566,10,0,1,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,Urban,America/Detroit,"Programmer, multimedia",1.0,27.0,Regular High School Diploma,Retired,21704.77,Married,Female,Yes,12.014541,12,0,1,Yes,Month-to-month,No,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,Urban,America/Los_Angeles,Chief Financial Officer,4.0,50.0,Regular High School Diploma,Student,NaN,Widowed,Female,No,10.245616,9,0,1,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,Suburban,America/Los_Angeles,Solicitor,1.0,48.0,Doctorate Degree,Retired,18925.23,Married,Male,No,15.206193,15,2,0,Yes,Two Year,No,No,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,Suburban,America/Chicago,Medical illustrator,0.0,83.0,Master's Degree,Student,40074.19,Separated,Male,Yes,8.960316,16,2,1,No,Month-to-month,Yes,No,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,150.761216,271.493436,4,4,4,3,4,4,4,5

In [10]:
# Rename last 8 survey columns for better description of variables
df.rename(columns = {'item1':'Responses', 
                    'item2':'Fixes', 
                     'item3':'Replacements', 
                     'item4':'Reliability', 
                     'item5':'Options', 
                     'item6':'Respectful', 
                     'item7':'Courteous', 
                     'item8':'Listening'}, 
          inplace=True)

In [11]:
df.columns

Index(['CaseOrder', 'Customer_id', 'Interaction', 'City', 'State', 'County',
       'Zip', 'Lat', 'Lng', 'Population', 'Area', 'Timezone', 'Job',
       'Children', 'Age', 'Education', 'Employment', 'Income', 'Marital',
       'Gender', 'Churn', 'Outage_sec_perweek', 'Email', 'Contacts',
       'Yearly_equip_failure', 'Techie', 'Contract', 'Port_modem', 'Tablet',
       'InternetService', 'Phone', 'Multiple', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Tenure',
       'MonthlyCharge', 'Bandwidth_GB_Year', 'Responses', 'Fixes',
       'Replacements', 'Reliability', 'Options', 'Respectful', 'Courteous',
       'Listening'],
      dtype='object')

In [12]:
df.head()

,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,Area,Timezone,Job,Children,Age,Education,Employment,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,Responses,Fixes,Replacements,Reliability,Options,Respectful,Courteous,Listening
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,Urban,America/Sitka,Environmental health practitioner,NaN,68.0,Master's Degree,Part Time,28561.99,Widowed,Male,No,6.972566,10,0,1,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,Urban,America/Detroit,"Programmer, multimedia",1.0,27.0,Regular High School Diploma,Retired,21704.77,Married,Female,Yes,12.014541,12,0,1,Yes,Month-to-month,No,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,Urban,America/Los_Angeles,Chief Financial Officer,4.0,50.0,Regular High School Diploma,Student,NaN,Widowed,Female,No,10.245616,9,0,1,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,Suburban,America/Los_Angeles,Solicitor,1.0,48.0,Doctorate Degree,Retired,18925.23,Married,Male,No,15.206193,15,2,0,Yes,Two Year,No,No,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,Suburban,America/Chicago,Medical illustrator,0.0,83.0,Master's Degree,Student,40074.19,Separated,Male,Yes,8.960316,16,2,1,No,Month-to-month,Yes,No,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,150.761216,271.493436,4,4,4,3,4,4,4,5

In [13]:
# Display number of records in dataset
len(df)

10000

In [14]:
# Find number of records and columns of dataset
df.shape

(10000, 51)

In [15]:
# Describe Churn dataset statistics
df.describe()

,CaseOrder,Zip,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Tenure,MonthlyCharge,Bandwidth_GB_Year,Responses,Fixes,Replacements,Reliability,Options,Respectful,Courteous,Listening
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,7505.000000,7525.000000,7510.000000,10000.000000,10000.000000,10000.000000,10000.000000,9069.000000,10000.000000,8979.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,49153.319600,38.757567,-90.782536,9756.562400,2.095936,53.275748,39936.762226,11.452955,12.016000,0.994200,0.398000,34.498858,174.076305,3398.842752,3.490800,3.505100,3.487000,3.497500,3.492900,3.497300,3.509500,3.495600
std,2886.89568,27532.196108,5.437389,15.156142,14432.698671,2.154758,20.753928,28358.469482,7.025921,3.025898,0.988466,0.635953,26.438904,43.335473,2187.396807,1.037797,1.034641,1.027977,1.025816,1.024819,1.033586,1.028502,1.028633
min,1.00000,601.000000,17.966120,-171.688150,0.000000,0.000000,18.000000,740.660000,-1.348571,1.000000,0.000000,0.000000,1.000259,77.505230,155.506715,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2500.75000,26292.500000,35.341828,-97.082813,738.000000,0.000000,35.000000,19285.522500,8.054362,10.000000,0.000000,0.000000,7.890442,141.071078,1234.110529,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,5000.50000,48869.500000,39.395800,-87.918800,2910.500000,1.000000,53.000000,33186.785000,10.202896,12.000000,1.000000,0.000000,36.196030,169.915400,3382.424000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000
75%,7500.25000,71866.500000,42.106908,-80.088745,13168.000000,3.000000,71.000000,53472.395000,12.487644,14.000000,2.000000,1.000000,61.426670,203.777441,5587.096500,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,10000.00000,99929.000000,70.640660,-65.667850,111850.000000,10.000000,89.000000,258900.700000,47.049280,23.000000,7.000000,6.000000,71.999280,315.878600,7158.982000,7.000000,7.000000,8.000000,7.000000,7.000000,8.000000,7.000000,8.000000

In [16]:
# Remove less meaningful variables from statistics description
df_stats = df.drop(columns=['CaseOrder', 'Zip', 'Lat', 'Lng'])
df_stats.describe()

,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Tenure,MonthlyCharge,Bandwidth_GB_Year,Responses,Fixes,Replacements,Reliability,Options,Respectful,Courteous,Listening
count,10000.000000,7505.000000,7525.000000,7510.000000,10000.000000,10000.000000,10000.000000,10000.000000,9069.000000,10000.000000,8979.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,9756.562400,2.095936,53.275748,39936.762226,11.452955,12.016000,0.994200,0.398000,34.498858,174.076305,3398.842752,3.490800,3.505100,3.487000,3.497500,3.492900,3.497300,3.509500,3.495600
std,14432.698671,2.154758,20.753928,28358.469482,7.025921,3.025898,0.988466,0.635953,26.438904,43.335473,2187.396807,1.037797,1.034641,1.027977,1.025816,1.024819,1.033586,1.028502,1.028633
min,0.000000,0.000000,18.000000,740.660000,-1.348571,1.000000,0.000000,0.000000,1.000259,77.505230,155.506715,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,738.000000,0.000000,35.000000,19285.522500,8.054362,10.000000,0.000000,0.000000,7.890442,141.071078,1234.110529,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,2910.500000,1.000000,53.000000,33186.785000,10.202896,12.000000,1.000000,0.000000,36.196030,169.915400,3382.424000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000
75%,13168.000000,3.000000,71.000000,53472.395000,12.487644,14.000000,2.000000,1.000000,61.426670,203.777441,5587.096500,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,111850.000000,10.000000,89.000000,258900.700000,47.049280,23.000000,7.000000,6.000000,71.999280,315.878600,7158.982000,7.000000,7.000000,8.000000,7.000000,7.000000,8.000000,7.000000,8.000000

In [17]:
# Calculate Churn Rate
df.Churn.value_counts() / len(df)

No     0.735
Yes    0.265
Name: Churn, dtype: float64

In [18]:
# Review data types (numerical => "int64" & "float64"; & categorical => "object") in data set
df.dtypes

CaseOrder                 int64
Customer_id              object
Interaction              object
City                     object
State                    object
County                   object
Zip                       int64
Lat                     float64
Lng                     float64
Population                int64
Area                     object
Timezone                 object
Job                      object
Children                float64
Age                     float64
Education                object
Employment               object
Income                  float64
Marital                  object
Gender                   object
Churn                    object
Outage_sec_perweek      float64
Email                     int64
Contacts                  int64
Yearly_equip_failure      int64
Techie                   object
Contract                 object
Port_modem               object
Tablet                   object
InternetService          object
Phone                    object
Multiple                 object
OnlineSecurity           object
OnlineBackup             object
DeviceProtection         object
TechSupport              object
StreamingTV              object
StreamingMovies          object
PaperlessBilling         object
PaymentMethod            object
Tenure                  float64
MonthlyCharge           float64
Bandwidth_GB_Year       float64
Responses                 int64
Fixes                     int64
Replacements              int64
Reliability               int64
Options                   int64
Respectful                int64
Courteous                 int64
Listening                 int64
dtype: object

In [19]:
# Re-validate column data types and missing values
df.columns.to_series().groupby(df.dtypes).groups

{dtype('int64'): Index(['CaseOrder', 'Zip', 'Population', 'Email', 'Contacts',
        'Yearly_equip_failure', 'Responses', 'Fixes', 'Replacements',
        'Reliability', 'Options', 'Respectful', 'Courteous', 'Listening'],
       dtype='object'),
 dtype('float64'): Index(['Lat', 'Lng', 'Children', 'Age', 'Income', 'Outage_sec_perweek',
        'Tenure', 'MonthlyCharge', 'Bandwidth_GB_Year'],
       dtype='object'),
 dtype('O'): Index(['Customer_id', 'Interaction', 'City', 'State', 'County', 'Area',
        'Timezone', 'Job', 'Education', 'Employment', 'Marital', 'Gender',
        'Churn', 'Techie', 'Contract', 'Port_modem', 'Tablet',
        'InternetService', 'Phone', 'Multiple', 'OnlineSecurity',
        'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
        'StreamingMovies', 'PaperlessBilling', 'PaymentMethod'],
       dtype='object')}

In [20]:
# Display non-null fields within each columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 51 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CaseOrder             10000 non-null  int64
 1   Customer_id           10000 non-null  object
 2   Interaction           10000 non-null  object
 3   City                  10000 non-null  object
 4   State                 10000 non-null  object
 5   County                10000 non-null  object
 6   Zip                   10000 non-null  int64
 7   Lat                   10000 non-null  float64
 8   Lng                   10000 non-null  float64
 9   Population            10000 non-null  int64
 10  Area                  10000 non-null  object
 11  Timezone              10000 non-null  object
 12  Job                   10000 non-null  object
 13  Children              7505 non-null   float64
 14  Age                   7525 non-null   float64
 15  Education             10000 non-null  object
 16  Employment            10000 non-null  object
 17  Income                7510 non-null   float64
 18  Marital               10000 non-null  object
 19  Gender                10000 non-null  object
 20  Churn                 10000 non-null  object
 21  Outage_sec_perweek    10000 non-null  float64
 22  Email                 10000 non-null  int64
 23  Contacts              10000 non-null  int64
 24  Yearly_equip_failure  10000 non-null  int64
 25  Techie                7523 non-null   object
 26  Contract              10000 non-null  object
 27  Port_modem            10000 non-null  object
 28  Tablet                10000 non-null  object
 29  InternetService       10000 non-null  object
 30  Phone                 8974 non-null   object
 31  Multiple              10000 non-null  object
 32  OnlineSecurity        10000 non-null  object
 33  OnlineBackup          10000 non-null  object
 34  DeviceProtection      10000 non-null  object
 35  TechSupport           9009 non-null   object
 36  StreamingTV           10000 non-null  object
 37  StreamingMovies       10000 non-null  object
 38  PaperlessBilling      10000 non-null  object
 39  PaymentMethod         10000 non-null  object
 40  Tenure                9069 non-null   float64
 41  MonthlyCharge         10000 non-null  float64
 42  Bandwidth_GB_Year     8979 non-null   float64
 43  Responses             10000 non-null  int64
 44  Fixes                 10000 non-null  int64
 45  Replacements          10000 non-null  int64
 46  Reliability           10000 non-null  int64
 47  Options               10000 non-null  int64
 48  Respectful            10000 non-null  int64
 49  Courteous             10000 non-null  int64
 50  Listening             10000 non-null  int64
dtypes: float64(9), int64(14), object(28)
memory usage: 3.9+ MB

In [21]:
# Find missing values 
df.isnull()

,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,Area,Timezone,Job,Children,Age,Education,Employment,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,Responses,Fixes,Replacements,Reliability,Options,Respectful,Courteous,Listening
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [22]:
# Access only rows from dataframe containing missing values
df.isnull().any(axis=1)

0        True
1       False
2        True
3       False
4       False
        ...
9995     True
9996     True
9997     True
9998    False
9999     True
Length: 10000, dtype: bool

In [23]:
# Woah, lots of empty fields!  Immediately noticeable as "True" in columns of "Children", "Age", "Income", "Techie", "Phone", "Tenure"
# Display the specific columns with NAs
df.isna().any()

CaseOrder               False
Customer_id             False
Interaction             False
City                    False
State                   False
County                  False
Zip                     False
Lat                     False
Lng                     False
Population              False
Area                    False
Timezone                False
Job                     False
Children                 True
Age                      True
Education               False
Employment              False
Income                   True
Marital                 False
Gender                  False
Churn                   False
Outage_sec_perweek      False
Email                   False
Contacts                False
Yearly_equip_failure    False
Techie                   True
Contract                False
Port_modem              False
Tablet                  False
InternetService         False
Phone                    True
Multiple                False
OnlineSecurity          False
OnlineBackup            False
DeviceProtection        False
TechSupport              True
StreamingTV             False
StreamingMovies         False
PaperlessBilling        False
PaymentMethod           False
Tenure                   True
MonthlyCharge           False
Bandwidth_GB_Year        True
Responses               False
Fixes                   False
Replacements            False
Reliability             False
Options                 False
Respectful              False
Courteous               False
Listening               False
dtype: bool

In [24]:
# Confirm missing observations numbers
data_nulls = df.isnull().sum()
print(data_nulls)

CaseOrder                  0
Customer_id                0
Interaction                0
City                       0
State                      0
County                     0
Zip                        0
Lat                        0
Lng                        0
Population                 0
Area                       0
Timezone                   0
Job                        0
Children                2495
Age                     2475
Education                  0
Employment                 0
Income                  2490
Marital                    0
Gender                     0
Churn                      0
Outage_sec_perweek         0
Email                      0
Contacts                   0
Yearly_equip_failure       0
Techie                  2477
Contract                   0
Port_modem                 0
Tablet                     0
InternetService            0
Phone                   1026
Multiple                   0
OnlineSecurity             0
OnlineBackup               0
DeviceProtection           0
TechSupport              991
StreamingTV                0
StreamingMovies            0
PaperlessBilling           0
PaymentMethod              0
Tenure                   931
MonthlyCharge              0
Bandwidth_GB_Year       1021
Responses                  0
Fixes                      0
Replacements               0
Reliability                0
Options                    0
Respectful                 0
Courteous                  0
Listening                  0
dtype: int64

In [25]:
# Store rows with missing values in a new variable
rows_with_missing_values = df.isnull().any(axis=1)
df[rows_with_missing_values]

,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,Area,Timezone,Job,Children,Age,Education,Employment,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,Responses,Fixes,Replacements,Reliability,Options,Respectful,Courteous,Listening
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,Urban,America/Sitka,Environmental health practitioner,NaN,68.0,Master's Degree,Part Time,28561.99,Widowed,Male,No,6.972566,10,0,1,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,171.449762,904.536110,5,5,5,3,4,4,3,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,Urban,America/Los_Angeles,Chief Financial Officer,4.0,50.0,Regular High School Diploma,Student,NaN,Widowed,Female,No,10.245616,9,0,1,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.440398,2054.706961,4,4,2,4,4,3,3,3
5,6,W303516,2b451d12-6c2b-4cea-a295-ba1d6bced078,Fort Valley,GA,Peach,31030,32.57032,-83.89040,17701,Urban,America/New_York,Chief Technology Officer,3.0,83.0,No Schooling Completed,Full Time,NaN,Never Married,Female,No,7.814859,15,3,1,No,One year,Yes,No,None,Yes,Yes,Yes,Yes,Yes,No,No,Yes,No,Electronic Check,7.000994,184.401558,1039.357983,3,3,3,2,4,3,3,3
6,7,U335188,6630d501-838c-4be4-a59c-6f58c814ed6a,Pioneer,TN,Scott,37847,36.43420,-84.27892,2535,Suburban,America/New_York,"Surveyor, hydrographic",0.0,NaN,Associate's Degree,Full Time,11467.50,Widowed,Male,Yes,11.129094,10,0,1,Yes,Month-to-month,No,No,DSL,Yes,No,No,No,No,Yes,Yes,Yes,No,Electronic Check,13.236774,200.064886,1907.242972,6,5,6,4,1,5,5,5
7,8,V538685,70ddaa89-b726-49dc-9022-2d655e4c7936,Oklahoma City,OK,Oklahoma,73109,35.43313,-97.52463,23144,Suburban,America/Chicago,Sales promotion account executive,2.0,NaN,Bachelor's Degree,Full Time,26759.64,Married,Female,Yes,7.594838,16,0,0,Yes,Month-to-month,No,No,DSL,No,No,No,Yes,No,No,No,No,Yes,Mailed Check,NaN,114.754111,979.612708,2,2,2,5,2,3,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,P175475,c60df12b-a50b-4397-ae57-98381a0d3960,West Kill,NY,Greene,12492,42.18491,-74.33574,210,Urban,America/New_York,Youth worker,NaN,46.0,Professional School Degree,Full Time,56384.35,Separated,Male,No,7.110666,14,1,0,No,Month-to-month,No,No,DSL,Yes,No,Yes,No,Yes,No,No,Yes,No,Credit Card (automatic),NaN,143.687900,4945.756000,4,3,4,4,3,3,4,4
9995,9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,640,Rural,America/New_York,Sport and exercise psychologist,3.0,NaN,"Some College, Less than 1 Year",Retired,55723.74,Married,Male,No,9.265392,12,2,0,NaN,Month-to-month,Yes,Yes,DSL,NaN,Yes,No,Yes,Yes,No,No,No,No,Electronic Check,68.197130,159.828800,6511.253000,3,2,3,3,4,3,2,3
9996,9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,77168,Rural,America/Chicago,Consulting civil engineer,4.0,48.0,Regular High School Diploma,Part Time,NaN,Divorced,Male,No,8.115849,15,2,0,NaN,Two Year,No,No,Fiber Optic,NaN,Yes,Yes,Yes,Yes,No,Yes,No,No,Electronic Check,61.040370,208.856400,5695.952000,4,5,5,4,4,5,2,5
9997,9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,406,Rural,America/Chicago,IT technical support officer,NaN,NaN,Nursery School to 8th Grade,Full Time,NaN,Never Married,Female,No,4.837696,10,0,0,No,Month-to-month,No,No,Fiber Optic,Yes,Yes,Yes,Yes,No,No,No,No,Yes,Bank Transfer(automatic),NaN,168.220900,4159.306000,4,4,4,4,4,4,4,5
9999,10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,12230,Urban,America/New_York,Personal assistant,1.0,28.0,GED or Alternative Credential,Full Time,NaN,Never Married,Male,No,12.641760,17,1,0,NaN,Month-to-month,Yes,No,Fiber Optic,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Electronic Check,63.350860,218.371000,5857.586000,2,2,3,3,3,3,4,1

In [26]:
# Drop less meaningful columns 
# df_cleaned = df.drop(columns=['Customer_id', 'Interaction'])
# df_cleaned

In [27]:
# Examine columns for misspellings in categorical variables using unique() method
df['Employment'].unique()

array(['Part Time', 'Retired', 'Student', 'Full Time', 'Unemployed'],
      dtype=object)

In [28]:
df['Area'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [29]:
df['Timezone'].unique()

array(['America/Sitka', 'America/Detroit', 'America/Los_Angeles',
       'America/Chicago', 'America/New_York', 'America/Puerto_Rico',
       'America/Denver', 'America/Menominee', 'America/Phoenix',
       'America/Indiana/Indianapolis', 'America/Boise',
       'America/Kentucky/Louisville', 'Pacific/Honolulu',
       'America/Indiana/Petersburg', 'America/Nome', 'America/Anchorage',
       'America/Indiana/Knox', 'America/Juneau', 'America/Toronto',
       'America/Indiana/Winamac', 'America/Indiana/Vincennes',
       'America/North_Dakota/New_Salem', 'America/Indiana/Tell_City',
       'America/Indiana/Marengo', 'America/Ojinaga'], dtype=object)

In [30]:
df['Job'].unique()

array(['Environmental health practitioner', 'Programmer, multimedia',
       'Chief Financial Officer', 'Solicitor', 'Medical illustrator',
       'Chief Technology Officer', 'Surveyor, hydrographic',
       'Sales promotion account executive',
       'Teaching laboratory technician', 'Museum education officer',
       'Teacher, special educational needs', 'Maintenance engineer',
       'Engineer, broadcasting (operations)', 'Learning disability nurse',
       'Automotive engineer', 'Amenity horticulturist',
       'Applications developer', 'Immunologist', 'Engineer, electrical',
       'Broadcast presenter', 'Counsellor', 'Geophysical data processor',
       'Designer, multimedia', 'Event organiser',
       'Equality and diversity officer', 'Psychiatrist',
       'Surveyor, commercial/residential', 'Civil Service administrator',
       'Radiographer, diagnostic', 'Air traffic controller', 'Dietitian',
       'Therapist, occupational', 'Building services engineer',
       'Information officer', 'Outdoor activities/education manager',
       'Market researcher', 'Surveyor, insurance', 'Office manager',
       'Editorial assistant', 'Customer service manager',
       'Production designer, theatre/television/film',
       'Analytical chemist', 'Print production planner',
       'Conservation officer, nature', 'Librarian, public',
       'Financial adviser', 'Surveyor, building',
       'Horticulturist, amenity', 'Diagnostic radiographer',
       'Doctor, general practice', 'Insurance risk surveyor',
       'Heritage manager', 'Legal executive', 'Professor Emeritus',
       'Radio producer', "Barrister's clerk", 'Engineer, automotive',
       'Recruitment consultant', 'Commercial horticulturist',
       'Pharmacist, community', 'Forest/woodland manager',
       'Designer, graphic', 'Civil engineer, consulting',
       'Science writer', 'Health and safety inspector',
       'Administrator, Civil Service', 'Technical sales engineer',
       'Special educational needs teacher', 'Sports therapist',
       'Engineer, communications', 'Oceanographer', 'Archaeologist',
       'Personal assistant', 'Animal nutritionist', 'Hydrologist',
       'Arts development officer', 'Herpetologist',
       'Medical sales representative',
       'Scientist, research (physical sciences)',
       'Higher education lecturer', 'Nurse, adult', 'Chiropodist',
       'Therapeutic radiographer', 'Designer, television/film set',
       'Education officer, environmental', 'Colour technologist',
       'Academic librarian', 'Mudlogger', 'Designer, textile',
       'Chief Strategy Officer', 'Loss adjuster, chartered',
       'Pharmacologist', 'Hydrographic surveyor',
       'Engineer, manufacturing', 'Research scientist (medical)',
       'Wellsite geologist', 'Embryologist, clinical',
       'Occupational psychologist', 'Sales professional, IT',
       'Advertising copywriter', 'Radiographer, therapeutic',
       'English as a second language teacher', 'Occupational therapist',
       'Armed forces logistics/support/administrative officer',
       'Technical author', 'Regulatory affairs officer',
       'Optician, dispensing', 'Theme park manager', 'IT trainer',
       'Contracting civil engineer', 'Psychologist, sport and exercise',
       'Manufacturing engineer', 'Musician',
       'Senior tax professional/tax inspector', 'Engineer, biomedical',
       'Facilities manager', 'Osteopath', 'Corporate investment banker',
       'Psychotherapist', 'Copywriter, advertising',
       'Horticultural consultant', 'Microbiologist',
       'Educational psychologist', 'Sport and exercise psychologist',
       'Risk manager', 'Health visitor', 'Visual merchandiser',
       'Clinical biochemist', 'Water quality scientist', 'Optometrist',
       'Petroleum engineer', 'Building control surveyor',
       'Financial planner', 'Theatre director', 'Secretary, company',
       'Materials engineer', 'Civil Service fast streamer',
       'Health service manager', 'Scientist, forensic',
       'Immigration officer', 'Dealer',
       'Planning and development surveyor', 'Broadcast engineer',
       'Local government officer', 'Nature conservation officer',
       'Private music teacher', 'Geologist, wellsite', 'Gaffer',
       'Curator', 'Editor, commissioning', 'Barrister', 'TEFL teacher',
       'Public relations account executive', 'Audiological scientist',
       'Travel agency manager', 'Land', 'Music therapist',
       'Librarian, academic', 'Film/video editor',
       'Journalist, broadcasting', 'Waste management officer',
       'Scientist, water quality', 'Sub', 'Neurosurgeon',
       'Scientist, research (maths)', 'Public house manager',
       'Building surveyor', 'Animator',
       'Production assistant, television', 'Transport planner',
       'Geneticist, molecular', 'Merchant navy officer',
       'Research scientist (life sciences)',
       'Engineer, building services', 'Solicitor, Scotland',
       'Hospital pharmacist', 'Engineer, petroleum', 'Oncologist',
       'IT technical support officer', 'Site engineer',
       'Early years teacher', 'Plant breeder/geneticist',
       'Chartered management accountant',
       'Runner, broadcasting/film/video', 'Newspaper journalist',
       'Naval architect', 'Agricultural engineer', 'Meteorologist',
       'Designer, ceramics/pottery', 'Environmental education officer',
       'Textile designer', 'Engineer, materials', 'Magazine journalist',
       'Conference centre manager', 'Dance movement psychotherapist',
       'Warden/ranger', 'Teacher, English as a foreign language',
       'Producer, television/film/video', 'Make', 'Pharmacist, hospital',
       'Therapist, horticultural', 'Journalist, newspaper',
       'Retail merchandiser', 'Nurse, mental health', 'Chief of Staff',
       'Systems analyst', 'Electronics engineer', 'Quantity surveyor',
       'Minerals surveyor', 'Scientist, research (life sciences)',
       'Archivist', 'Brewing technologist',
       'Investment banker, operational',
       'Accountant, chartered certified', 'Surveyor, minerals',
       'Hospital doctor', 'Theatre stage manager',
       'Operational researcher', 'Tax inspector',
       'Television camera operator', 'Arts administrator',
       'Patent attorney', 'Bonds trader', 'Ship broker',
       'Furniture conservator/restorer', 'Media planner',
       'Radio broadcast assistant', 'Mental health nurse',
       'Purchasing manager', 'Scientist, biomedical', 'Photographer',
       'Sports coach', 'Environmental manager', 'Estate agent',
       'Public librarian', 'Designer, blown glass/stained glass',
       'Occupational hygienist', 'Surgeon', 'Youth worker',
       'Hotel manager', 'Programmer, systems', "Politician's assistant",
       'Social researcher', 'Publishing copy', 'Tax adviser',
       'Quarry manager', 'Buyer, industrial', 'Production manager',
       'Police officer', 'Theatre manager', 'Sports administrator',
       'Research scientist (maths)', 'Therapist, music', 'Soil scientist',
       'Holiday representative', 'Producer, radio',
       'Intelligence analyst', 'Geochemist', 'Probation officer',
       'Fish farm manager', 'Chartered accountant', 'Architect',
       'Psychiatric nurse', 'Farm manager', 'Geoscientist',
       'Lecturer, further education', 'Horticulturist, commercial',
       'Surveyor, quantity', 'Clothing/textile technologist',
       'Technical brewer', 'Landscape architect',
       'Information systems manager', 'Sales executive',
       'Exercise physiologist', 'Administrator, arts', 'Careers adviser',
       'Lobbyist', 'Claims inspector/assessor', 'Recycling officer',
       'Product/process development scientist', 'Paramedic',
       'Fine artist', 'Teacher, secondary school',
       'Data processing manager', 'Government social research officer',
       'Product manager', 'Accounting technician', 'Engineer, land',
       'Lawyer', 'Restaurant manager', 'Catering manager', 'Contractor',
       'Research officer, government', 'Medical secretary', 'Podiatrist',
       'Phytotherapist', 'Surveyor, building control', 'Comptroller',
       'Lighting technician, broadcasting/film/video', 'Paediatric nurse',
       'Designer, furniture', 'Adult guidance worker',
       'Clinical molecular geneticist', 'Games developer', 'Metallurgist',
       'Armed forces technical officer', 'Risk analyst',
       'Careers information officer', 'Garment/textile technologist',
       'Multimedia specialist', 'Trade union research officer',
       'Museum/gallery exhibitions officer',
       'Armed forces operational officer', 'Air broker',
       'Mechanical engineer', 'Ceramics designer', 'Airline pilot',
       'Trading standards officer', 'Advice worker', 'Music tutor',
       'Leisure centre manager', 'Surveyor, rural practice',
       'Scientist, physiological', 'Fisheries officer',
       'Research officer, trade union', 'Licensed conveyancer',
       "Nurse, children's", 'Museum/gallery curator',
       'Psychologist, occupational', 'Astronomer', 'Therapist, drama',
       'Therapist, speech and language', 'Surveyor, land/geomatics',
       'Production assistant, radio', 'Human resources officer',
       'Fast food restaurant manager', 'Orthoptist',
       'Public relations officer', 'Bookseller',
       'Health and safety adviser', 'Clinical cytogeneticist',
       'Ergonomist', 'Psychologist, prison and probation services',
       'Actuary',
       'Scientist, clinical (histocompatibility and immunogenetics)',
       'Community development worker', 'Consulting civil engineer',
       'Television production assistant', 'Veterinary surgeon',
       'Teacher, adult education', 'Civil engineer, contracting',
       'Architectural technologist', 'Volunteer coordinator',
       'Primary school teacher', 'Insurance underwriter',
       'Research officer, political party',
       'Radiation protection practitioner', 'Psychotherapist, child',
       'Interior and spatial designer', 'Therapist, nutritional',
       'Jewellery designer', 'Press sub',
       'Clinical scientist, histocompatibility and immunogenetics',
       'Administrator, sports', 'Insurance account manager',
       'Museum/gallery conservator', 'Furniture designer',
       'Haematologist', 'Associate Professor', 'Physicist, medical',
       'Pathologist', 'Chartered public finance accountant', 'Printmaker',
       'Surveyor, mining', 'Chief Marketing Officer',
       'General practice doctor', 'Chemical engineer',
       'Forensic scientist', 'Marketing executive', 'Art gallery manager',
       'Therapist, sports', 'Insurance claims handler',
       'Secondary school teacher',
       'Development worker, international aid', 'Quality manager',
       'Conservator, furniture', 'Tour manager',
       'Control and instrumentation engineer', 'Adult nurse',
       'Diplomatic Services operational officer', 'Cartographer',
       'Chiropractor', 'Land/geomatics surveyor', 'Statistician',
       'Financial trader', 'Special effects artist',
       'Clinical psychologist', 'Further education lecturer',
       'Engineer, water', 'Energy manager', 'Education administrator',
       'Art therapist', 'Television floor manager', 'Legal secretary',
       'Merchandiser, retail', 'Web designer',
       'Nurse, learning disability',
       'International aid/development worker', 'Warehouse manager',
       'Engineer, mining', 'Exhibition designer',
       'Administrator, local government', 'Water engineer',
       'Physiotherapist', 'Engineer, electronics', 'Equities trader',
       'Telecommunications researcher', 'Hydrogeologist',
       'Community education officer', 'Engineer, energy',
       'Scientist, audiological', 'Patent examiner', 'Retail manager',
       'Engineer, aeronautical', 'Engineer, site',
       'Engineer, civil (contracting)', 'Proofreader',
       'Scientist, marine', 'Speech and language therapist',
       'IT sales professional', 'Buyer, retail', 'Network engineer',
       'Commercial art gallery manager',
       'Chartered legal executive (England and Wales)',
       'Presenter, broadcasting', 'Surveyor, planning and development',
       'Research scientist (physical sciences)', 'Commissioning editor',
       'Operational investment banker', 'Seismic interpreter',
       'Charity officer', 'English as a foreign language teacher',
       'Scientist, research (medical)', 'Designer, interior/spatial',
       'Lexicographer', 'Therapist, art', 'Clinical embryologist',
       'Child psychotherapist', 'Midwife', 'Pensions consultant',
       'Tree surgeon', 'Health physicist', 'Artist', 'Company secretary',
       'Fashion designer', 'IT consultant', 'Teacher, early years/pre',
       'Geographical information systems officer',
       'Tourist information centre manager', 'Biomedical engineer',
       'Biomedical scientist', 'Financial risk analyst',
       'Multimedia programmer', 'Engineer, control and instrumentation',
       'Insurance broker', 'Drilling engineer',
       'Development worker, community', 'Designer, industrial/product',
       'Medical technical officer', 'Advertising account executive',
       'Counselling psychologist', 'Tourism officer', 'Dancer',
       'Social research officer, government', 'Teacher, music',
       'Translator', 'Race relations officer',
       'Engineer, civil (consulting)',
       'Historic buildings inspector/conservation officer',
       'Financial manager', 'Financial controller', 'Designer, jewellery',
       'Retail banker',
       'Administrator, charities/voluntary organisations',
       'Magazine features editor', 'Psychotherapist, dance movement',
       'Barista', 'Passenger transport manager', 'Mining engineer',
       'Administrator, education',
       'Programme researcher, broadcasting/film/video', 'Ranger/warden',
       'Actor', 'Pension scheme manager', 'Investment analyst',
       'Physiological scientist', 'Advertising art director',
       'Sports development officer', 'Manufacturing systems engineer',
       'Accommodation manager', 'Television/film/video producer',
       'Accountant, chartered', 'Engineer, agricultural',
       'Horticultural therapist', 'Economist',
       'Training and development officer', 'Engineer, maintenance',
       'Logistics and distribution manager', 'Psychologist, clinical',
       'Accountant, chartered management', 'Rural practice surveyor',
       'Biochemist, clinical', 'Set designer', 'Nutritional therapist',
       'Illustrator', 'Designer, exhibition/display',
       'Armed forces training and education officer', 'Location manager',
       'Charity fundraiser', 'Community pharmacist',
       'Geophysicist/field seismologist', 'Designer, fashion/clothing',
       'Computer games developer', 'Acupuncturist',
       'Database administrator', 'Stage manager', 'Operations geologist',
       'Marine scientist', 'Glass blower/designer', 'Corporate treasurer',
       'Ecologist', 'Structural engineer', 'Housing manager/officer',
       'Chief Operating Officer', 'Engineer, manufacturing systems',
       'Herbalist', 'Editor, film/video', 'Retail buyer',
       'Doctor, hospital', 'Prison officer', 'Ophthalmologist',
       'Chemist, analytical', 'Chartered certified accountant',
       'Industrial buyer', 'Video editor', 'Publishing rights manager',
       'Engineer, drilling', 'Food technologist', 'Arboriculturist',
       'Engineer, technical sales', 'Systems developer', 'Firefighter',
       'Education officer, museum', 'Media buyer', 'Records manager',
       'Aid worker', 'Pilot, airline', 'Advertising account planner',
       'Psychologist, counselling', 'Environmental consultant', 'Copy',
       'Trade mark attorney', 'Psychologist, forensic', 'Social worker',
       'Administrator', 'Agricultural consultant',
       'Education officer, community', 'Management consultant',
       'Field trials officer', 'Graphic designer',
       'Teacher, primary school', 'Homeopath', 'Cabin crew',
       'Editor, magazine features', 'Medical physicist',
       'Medical laboratory scientific officer', 'Press photographer',
       'Field seismologist', 'Estate manager/land agent',
       'Industrial/product designer', 'Software engineer',
       'Air cabin crew', 'Freight forwarder', 'Engineer, structural',
       'Fitness centre manager', 'Interpreter',
       'Scientific laboratory technician', 'Data scientist',
       'Electrical engineer', 'Clinical research associate',
       'Engineering geologist', 'Call centre manager',
       'Psychologist, educational', 'Conservator, museum/gallery',
       'Emergency planning/management officer', 'Communications engineer',
       'Conservation officer, historic buildings', 'Cytogeneticist',
       'Personnel officer', 'Dramatherapist',
       'Investment banker, corporate', 'Camera operator',
       'Chartered loss adjuster', 'Health promotion specialist',
       'Scientist, product/process development', 'Learning mentor',
       'Lecturer, higher education',
       'Sound technician, broadcasting/film/video',
       'Restaurant manager, fast food', 'Engineer, maintenance (IT)',
       'Energy engineer', 'Dispensing optician',
       'Chief Executive Officer', 'Ambulance person',
       'Public affairs consultant', 'Product designer',
       'Community arts worker', 'Higher education careers adviser',
       'Dentist', 'Exhibitions officer, museum/gallery', 'Futures trader',
       'Commercial/residential surveyor', 'Engineer, production',
       'Animal technologist', 'Banker', 'Programmer, applications',
       'Best boy', 'Secretary/administrator', 'Journalist, magazine',
       'Production engineer', 'Accountant, chartered public finance',
       'Geologist, engineering', 'Aeronautical engineer',
       'Engineer, chemical', 'Forensic psychologist',
       'Broadcast journalist', 'Town planner', 'Toxicologist', 'Writer'],
      dtype=object)

In [31]:
# Well then, how many unique jobs are there and will this variable help us out much?
len(df['Job'].unique())

639

In [32]:
df['Children'].unique()

array([nan,  1.,  4.,  0.,  3.,  2.,  7.,  5.,  9.,  6., 10.,  8.])

In [33]:
df['Age'].unique()

array([68., 27., 50., 48., 83., nan, 49., 86., 23., 56., 30., 39., 63.,
       60., 61., 52., 75., 77., 47., 70., 69., 45., 40., 82., 26., 25.,
       66., 72., 41., 44., 43., 84., 59., 31., 51., 58., 73., 33., 42.,
       81., 87., 54., 67., 46., 24., 20., 71., 32., 29., 80., 53., 79.,
       65., 35., 34., 74., 55., 76., 57., 38., 78., 19., 36., 88., 62.,
       37., 28., 22., 85., 89., 18., 21., 64.])

In [34]:
# Examine age range
age_range = df['Age'].unique()
print(sorted(age_range))

[23.0, 25.0, 26.0, 27.0, 30.0, 31.0, 39.0, 40.0, 41.0, 43.0, 44.0, 45.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 59.0, 61.0, 68.0, 83.0, nan, 18.0, 19.0, 20.0, 21.0, 22.0, 24.0, 28.0, 29.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 42.0, 46.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 60.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0]

In [35]:
df['Education'].unique()

array(["Master's Degree", 'Regular High School Diploma',
       'Doctorate Degree', 'No Schooling Completed', "Associate's Degree",
       "Bachelor's Degree", 'Some College, Less than 1 Year',
       'GED or Alternative Credential',
       'Some College, 1 or More Years, No Degree',
       '9th Grade to 12th Grade, No Diploma',
       'Nursery School to 8th Grade', 'Professional School Degree'],
      dtype=object)

In [36]:
df['Employment'].unique()

array(['Part Time', 'Retired', 'Student', 'Full Time', 'Unemployed'],
      dtype=object)

In [37]:
df['Marital'].unique()

array(['Widowed', 'Married', 'Separated', 'Never Married', 'Divorced'],
      dtype=object)

In [38]:
df['Gender'].unique()

array(['Male', 'Female', 'Prefer not to answer'], dtype=object)

In [39]:
df['Contract'].unique()

array(['One year', 'Month-to-month', 'Two Year'], dtype=object)

In [40]:
df['PaymentMethod'].unique()

array(['Credit Card (automatic)', 'Bank Transfer(automatic)',
       'Mailed Check', 'Electronic Check'], dtype=object)

In [41]:
# Check ranges of Income, Tenure, MonthlyCharge, Bandwidth_GB_Year

In [ ]:
# Left of Bluelime tutorial here . . . .

In [47]:
# Display any duplicate rows in the dataframe.
# data_duplicates = df.loc[df.duplicated()]
# print(data_duplicates)

In [46]:
# Identify the standard deviation of every numeric column in the dataset
# data_std = df.std()
# print(data_std)

In [45]:
# data_nulls = df_short.isnull().sum()
# print(data_nulls)

In [ ]:
# Impute missing fields for Income, Tenure and Bandwidth_GB_Year with median or mean
df_short['Income'] = df['Income'].fillna(df['Income'].median())
df_short['Tenure'] = df['Tenure'].fillna(df['Tenure'].median())
df_short['Bandwidth_GB_Year'] = df['Bandwidth_GB_Year'].fillna(df['Bandwidth_GB_Year'].median())

In [ ]:
data_nulls = df_short.isnull().sum()
print(data_nulls)

## PCA Code

In [ ]:
# Perform a PCA to identify significant features
churn_pca = pd.read_csv('churn_raw_data.csv', index_col=0)

In [ ]:
# Again, rename survey columns
churn_pca.rename(columns = {'item1':'Responses', 
                    'item2':'Fixes', 
                     'item3':'Replacements', 
                     'item4':'Reliability', 
                     'item5':'Options', 
                     'item6':'Respectful', 
                     'item7':'Courteous', 
                     'item8':'Listening'}, 
          inplace=True)

In [ ]:
# Subset dataset to exclude categorical variables
churn_pca = churn_pca[['Population','Children', 'Age', 'Income', 'Outage_sec_perweek', 
                    'Email', 'Contacts', 'Yearly_equip_failure', 'Tenure', 
                    'MonthlyCharge', 'Bandwidth_GB_Year', 'Responses', 'Fixes', 
                    'Replacements', 'Reliability', 'Options', 'Respectful', 
                    'Courteous', 'Listening']]

In [ ]:
churn_pca.head()

# <span style="color:red">FINAL DRAFT review Performance Lab Python => especially comments!!!</span>

## <span style="color:red">Part III: Data Cleaning</span>

### D.  Summarize the data-cleaning process by doing the following:

1.  Describe the findings, including all anomalies, from the implementation of the data-cleaning plan from part C.

2.  Justify your methods for mitigating each type of discovered anomaly in the data set.

3.  Summarize the outcome from the implementation of each data-cleaning step.

4.  Provide the code used to mitigate anomalies.

5.  Provide a copy of the cleaned data set.

6.  Summarize the limitations of the data-cleaning process.

7.  Discuss how the limitations in part D6 affect the analysis of the question or decision from part A.

### <span style="color:green">D. Data Cleaning Summary</span>

D1.<b>Cleaning Findings</b>:

D2.<b>Justification of Mitigation Methods</b>:

D3.<b>Summary of Outcomes</b>:

D4.<b>Mitigation Code</b>:

D5.<b>Clean Data</b>: (see attached file 'churn_data_cleaned.csv')

D6.<b>Limitations</b>: Limitations given the telecom company data set are that the data are not coming from an warehouse.  It this scenario, it is as though I initiated and gathered the data.  So, I am not able to reach out to the folks that organized and gathered this information and ask them why certain NAs are there, why are fields such as age or yearly bandwidth used missing information that might be relevant to answering questions about customer retention or churn.  In a real world project, you would be able to go down to the department where these folks worked and fill in the empty fields or discover why fields are left blank.  
D7.

### E.  Apply principal component analysis (PCA) to identify the significant features of the data set by doing the following:

1.  List the principal components in the data set.

2.  Describe how you identified the principal components of the data set.

3.  Describe how the organization can benefit from the results of the PCA

### <span style="color:green">E. PCA Application</span>

E1. <b>Principal Components</b>:

E2. <b>Criteria Used</b>:

E3. <b>Benefits</b>:

In [ ]:
# Cut & paste in PCA code from Performance Lab Python!!!

## <span style="color:red">Part IV: Supporting Documents</span>

### F.  Provide a Panopto recording that demonstrates the warning- and error-free functionality of the code used to support the discovery of anomalies and the data cleaning process and summarizes the programming environment.

### <span style="color:green">F. Video</span>

### G.  Reference the web sources used to acquire segments of third-party code to support the application. <span style="color:red">Be sure the web sources are reliable.</span>

### <span style="color:green">G. Sources for Third-Party Code</span>
Cmdline. (2018, March 20). <i>How To Change Column Names and Row Indexes in Pandas?</i>  Python and R Tips.  <br>&emsp;https://cmdlinetips.com/2018/03/how-to-change-column-names-and-row-indexes-in-pandas/

Larose, C. D. & Larose, D. T. (2019). <i>Data Science: Using Python and R.</i>  John Wiley & Sons, Inc.

Sree. (2020, October 26). <i>Predict Customer Churn in Python.</i>  Towards Data Science.  <br>&emsp;https://towardsdatascience.com/predict-customer-churn-in-python-e8cd6d3aaa7

VanderPlas, J. (2017). <i>Python Data Science Handbook: Essential Tools for WOrking with Data.</i>  <br>&emsp;O'Reilly Media, Inc.

### H.  Acknowledge sources, <span style="color:red">using in-text citations<span>

### <span style="color:green">H. Sources</span>
Ahmad, A. K., Jafar, A & Aljoumaa, K. (2019, March 20). <i>Customer churn prediction in telecom using machine <br>&emsp;learning in big data platform</i>. Journal of Big Data.  <br>&emsp;https://journalofbigdata.springeropen.com/articles/10.1186/s40537-019-0191-6

Altexsoft. (2019, March 27). <i>Customer Churn Prediction Using Machine Learning: Main Approaches and Models</i>.  <br>&emsp;Altexsoft.  <br>&emsp;https://www.altexsoft.com/blog/business/customer-churn-prediction-for-subscription-businesses-using-machine-learning-main-approaches-and-models/

Frohbose, F. (2020, November 24). <i>Machine Learning Case Study: Telco Customer Churn Prediction</i>.  <br>&emsp;Towards Data Science.  <br>&emsp;https://towardsdatascience.com/machine-learning-case-study-telco-customer-churn-prediction-bc4be03c9e1d

Mountain, A. (2014, August 11). <i>Data Cleaning</i>.  Better Evaluation.  <br>&emsp;https://www.betterevaluation.org/en/evaluation-options/data_cleaning